# env files
.env
.env.local
.env.production

# dependencies
node_modules/

# logs
logs
*.log

# OS files
.DS_Store

# python cache
__pycache__/
*.pyc
*.pyo

# build outputs
dist/
build/

# env example files
whatsapp-service/.env.example