# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://admin:admin123@cluster.mongodb.net/geotruthai

# JWT
JWT_SECRET=97ed7657caf5dfe136d5ecaa2db67c7221df5f066621cb6de4492fba210e42c2
JWT_EXPIRE=7d

# NewsAPI
NEWS_API_KEY=9c7325f50c174acb8f3a9f68bbd36fff
# Python AI Service (FastAPI)
AI_SERVICE_URL=http://localhost:8000
IMAGE_SERVICE_URL=http://localhost:8000

# CORS
CORS_ORIGIN=http://localhost:3000

