# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=xyz

# JWT
JWT_SECRET=abc
JWT_EXPIRE=7d

# NewsAPI
NEWS_API_KEY=abc
# Python AI Service (FastAPI)
AI_SERVICE_URL=http://localhost:8000
IMAGE_SERVICE_URL=http://localhost:8000

# CORS
CORS_ORIGIN=http://localhost:3000

